%ul.navbar-nav.me-auto.mb-2.mb-lg-0
  %li.nav-item
    = link_to 'CUSTOMERS', admin_customers_path, class: 'nav-link'
  %li.nav-item
    = link_to 'PRODUCTS', admin_products_path, class: 'nav-link'
  %li.nav-item
    = link_to 'ORDERS', admin_orders_path, class: 'nav-link'