.list-group.mb-3
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :name, :text, required: true)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :address, :text)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :gender, :radio, list: Admin::Customer.genders_i18n.invert)
